APPLICATION_NAME=my-commerce-api
AUTHORIZATION_TOKEN=auth_token
FILE_BUCKET_NAME=my_file_bucket

PGSQL_HOST=127.0.0.1
PGSQL_USER=dev_user
PGSQL_PASSWORD=secure_password
PGSQL_DBNAME=mycommercedb
PGSQL_PORT=5432
